<h2>{{title}}</h2>
<form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="Email1">Email address</label>
      <input type="email" class="form-control" id="Email1" placeholder="Enter email" formControlName="username" >
    </div>
    <div class="form-group" formGroupName="address">
      <label for="housename">house name</label>
      <input type="text" class="form-control" id="housename" placeholder="House Name" formControlName="houseName" >
      <label for="pincode">Pincode</label>
      <input type="text" class="form-control" id="pincode" placeholder="Enter PinCode" formControlName="pincode" >
    </div>
    <div class="form-group">
      <label for="Password1">Password</label>
      <input type="password" class="form-control" id="Password1" placeholder="Password" formControlName="password" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>