<h2>Styling</h2>
<button 
    [style.background-color]="canSave?'blue':'gray'"
    [style.color]="canSave?'white':'black'"
    [style.border]="canSave?'yellow 2px solid':'red 5px solid'"
    (click)="toggleSave()"
>Save
</button>

<button 
[ngStyle]="{
    'backgroundColor':canSave?'blue':'gray',
    'color':canSave?'white':'black',
    'border':canSave?'yellow 2px solid':'red 5px solid'
}"
    (click)="toggleSave()"
>Save
</button>


<h2>Classs</h2>
<button 
    [class.border]="canSave"
    [class.color]="canSave"
    (click)="toggleSave()"
>Save
</button>
<button 
[ngClass]="{
    'border':canSave,
    'color':canSave
}"
    (click)="toggleSave()"
>Save
</button>