<h2>{{title}}</h2>
<ul class="list-group">
    <li class="list-group-item">
        Name:{{device['deviceName']}} <br>
        Model:{{device['companyName']}}
        <span *ngIf="authService.isLoggedIn() && authService.getUser().admin">
            <button class="btn btn-primary" (click)="toggleUpdate()">Update</button>
            <button class="btn btn-primary" (click)="deleteDevice()">Delete</button>
    </span>
    </li>
</ul>

<div *ngIf="update">
    <div class="input-group mb-3" [style.width]="'500px'">
        <input type="text" class="form-control" #newName placeholder="New Device Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="updateDevice(newName.value)">Update</button>
        </div>
    </div>
</div>