<h3>Devices</h3>
<div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="toggleForm()">Add Device</button>
</div>
<div *ngIf="addForm">
    <form class="form-inline" [formGroup]="form" (ngSubmit)="sendData()">
        <div class="form-group mb-2">
            <label for="id" class="sr-only">Id</label>
            <input class="form-control" id="id" placeholder="Id" formControlName="id">
        </div>
        <div class="form-group mb-2">
            <label for="companyName" class="sr-only">Company Name</label>
            <input class="form-control" id="companyName" placeholder="Company Name" formControlName="companyName">
        </div>
        <div class="form-group mb-2">
            <label for="deviceName" class="sr-only">Device</label>
            <input class="form-control" id="deviceName" placeholder="Device Name" formControlName="deviceName">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let device of devices">
        <a [routerLink]="['/device',device.id]"> {{device.deviceName}}</a>
    </li>
</ul>